@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <p>The closest stop point is : @Model.StopCode</p>
    @foreach( var arrival in Model.AllArrivals)
    {
        @:<p> @arrival.LineName  </p>
    }

</div>
